<table class="table table-hover listing-table">
    <thead>
        <tr>
            <th scope="col">Uhrzeit</th>
            <th scope="col">Startnummer</th>
            <th scope="col">Verein</th>
            <th scope="col">Thema</th>
        </tr>
    </thead>
    <tbody>
        <tr id="row1">
            <td scope="row">18:00 Uhr</td>
            <td>21</td>
            <td>BlaVerein</td>
            <td>Erde</td>
        </tr>
        <tr id="row2">
            <td scope="row">18:15 Uhr</td>
            <td>22</td>
            <td>Besserer BlaVerein</td>
            <td>Wasser</td>
        </tr>
        <tr id="row3">
            <td scope="row">18:30 Uhr</td>
            <td>23</td>
            <td>Krasser Verein</td>
            <td>Feuer</td>
        </tr>
    </tbody>
</table>